#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
}
#header-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

ul#menu {
  display: flex;
  list-style: none;

  li {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  a.link {
    display: inline-flex;
    text-decoration: none;
    font-weight: 400;
    text-transform: Uppercase;
    font-size: 14px;
    color: $color-gray;
    margin: 10px 5px;
    overflow: hidden;
    padding: 0 5px;
    font-family: $font-mono;

    span {
      position: relative;
      display: inline-flex;
      transition: transform 0.3s;
      font-weight: 400;

      &:before {
        position: absolute;
        top: 100%;
        content: attr(data-hover);
        font-weight: 700;
        transform: translate3d(0, 0, 0);
      }
    }

    &:hover {
      color: $color-primary;
      border-color: $color-primary;

      span {
        transform: translateY(-100%);
      }
    }
  }
}

@media (max-width: 768px) {
  #header {
    position: static;
  }
  #header-content {
    padding: 20px 0;
  }
  ul#menu a.link {
    display: none;
  }
}
