/**
 * Home page
 */

$color-gray: #444452;
$color-blue: #1755f6;

/// Hero
#hero {
  height: 95vh;
  display: flex;
  position: relative;
  border-bottom: 1px solid #eee;
  align-items: center;
  padding: 0 135px;

  h1 {
    max-width: 770px;
    color: $color-gray;
    font-size: 40px;
    line-height: 60px;
    font-weight: 300;
    margin-bottom: 40px;

    b {
      font-weight: 600;
    }
  }
  .actions {
    display: flex;

    a {
      margin-right: 10px;
    }
  }
}

a.btn {
  display: inline-flex;
  background-color: $color-blue;
  border: 1px solid #ffffff;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  padding: 10px 24px;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
