/**
 * Home page
 */

$color-gray: #444452;
$color-primary: #1755f6;

body {
  color: $color-gray;
}

/// Hero
#hero {
  height: 95vh;
  display: flex;
  position: relative;
  border-bottom: 1px solid #eee;
  align-items: center;
  margin: 0 0 100px 0;

  h1 {
    max-width: 770px;
    font-size: 40px;
    line-height: 60px;
    font-weight: 300;
    margin-bottom: 40px;

    b {
      font-weight: 600;
    }
  }
  .actions {
    display: flex;

    a {
      margin-right: 10px;
    }
  }
}

a.btn {
  display: inline-flex;
  background-color: $color-primary;
  border: 1px solid #ffffff;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  padding: 10px 24px;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.section {
  padding: 100px;
  display: flex;

  > .title {
    width: 200px;
    flex-shrink: 0;
    margin-right: 70px;
    text-align: right;
    font-weight: 600;
    color: $color-primary;
    letter-spacing: 4px;
  }
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;

    &.about {
      margin-top: -7px;
    }

    &.experiences,
    &.works {
      flex-direction: column;
    }

    p {
      line-height: 28px;
    }

    .item {
      font-size: 14px;
      margin-bottom: 15px;
      font-family: "Ubuntu Mono", monospace;
    }
  }
}

/// Experiences
.experience-item {
  margin-bottom: 40px;

  header {
    display: flex;
    justify-content: space-between;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .time {
    font-size: 14px;
    font-family: "Ubuntu Mono", monospace;
  }
  .desc {
    font-size: 14px;
  }
}

/// Works
.work-item {
  margin-bottom: 40px;

  header {
    display: flex;
    justify-content: space-between;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .links {
    a:link {
      font-size: 14px;
      font-weight: 700;
      font-family: "Ubuntu Mono", monospace;
      margin-left: 10px;
    }
  }
  .desc {
    font-size: 14px;
    line-height: 22px;
  }
}

/// Footer
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 13px;
  color: #74747e;
  border-top: 1px solid #eee;
}
